


  .navbar-brand img {
    width: 140px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .navbar-brand img:hover {
    transform: scale(1.1);
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-color: #fafafa;
  }
  
  
  .navbar-nav .nav-item {
    margin-right: 15px;
    font-size: 18px;
    font-family: "Montserrat",sans-serif;
  }
  
  .navbar-nav .nav-item :hover {
        color: goldenrod !important;
  }

  .nav-link {
    font-weight: 500;
    transition: color 0.3s;
  }
  

  .button-join {
    background-color: goldenrod;
    border-radius: 20px;
    padding: 10px 40px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
    font-weight: bold;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-join:hover {
    background-color: transparent;
    border-color: #FBBF24;
    color: white;
}