

.intro-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
}

.text-overlay {
  font-family: 'Teko', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.intro-title {
  font-size: 4vw;
  color: goldenrod;
  margin-bottom: 20px;
}
.intro-title-second {
  font-size: 3vw;
  color: goldenrod;
  margin-bottom: 20px;
}

.intro-button {
  padding: 20px 15px 20px 15px;
  font-size: 21px;
  color: white;
  font-family: "Montserrat", sans-serif;
  border: 0.3vw solid goldenrod;
  background-color: inherit;
  transition: background-color 0.4s ease;
  font-weight: bold;
}

.intro-button:hover {
  background-color: goldenrod;
}

@media screen and (max-width: 768px) {
  .intro-title {
    font-size: 8vw;
  }
  .intro-title-second {
    font-size: 6vw;
  }

  .intro-button {
    padding: 2vw 10vw;
    font-size: 3vw;
    border-width: 0.5vw;
  }
}
