.location-container {
    color: white;
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    padding-top: 0;
}

.flex-it {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 30px;
    margin-right: 10px;
}

.contact-details {
    display: flex;
    flex-direction: column;
}
.contact-details span {

    font-size: 20px;
    font-family: "Montserrat",sans-serif;
}

.contact-details div {
    margin-bottom: 5px;
}

.business-hours {
    margin-top: 20px;
    color: white;
}

.business-hours span {
    font-weight: bold;
    font-size: 20px;
    font-family: "Montserrat",sans-serif;
    color: goldenrod;
    display: block;
    margin-bottom: 10px;
}

.business-hours div {
    margin-left: 30px;
}

.business-hours div div {
    margin-top: 5px;
}

.contact h3{
    padding-top: 140px;
    padding-left: 100px;
    font-family: 'Teko',sans-serif;
    color: goldenrod;
    font-size: 70px;
    margin-bottom: 50px;
}

.google-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-map {
    padding-top: 25px;
    width: 100%; 
    max-width: 1000px; /* Set a maximum width */
    height: 500px; 
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .flex-it {
        flex-direction: column;
    }

    .contact h3 {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 40px;
    }

    .google-map {
        height: 300px;
        max-width: 90%; 
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 90%;
    }

    .flex-it {
        flex-direction: column;
    }

    .contact h3 {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 40px;
    }

    .google-map {
        height: 300px;
        max-width: 90%; 
        overflow-x: hidden; 
    }
}