.map-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 40px;
}

.map-container img {
    max-width: 1100px;
    margin-right: 20px;
    margin-left: 30px;
}

.map-right-side {
    flex: 1;
    padding: 50px;
}

.map-heading {
    font-size: 50px;
    color: goldenrod;
    font-family: 'Raleway', sans-serif;
}

.map-title {
    font-size: 20px;
    font-weight: bold;
}

.map-description {
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.btn {
    font-size: 18px;
}

a {
    color: goldenrod;
    font-size: 24px;
}


@media (max-width: 992px) {
    .map-container img {
        max-width: 80%; 
        margin-left: 0; 
        margin-right: auto; 
        margin-bottom: 20px; 
    }

    .map-right-side {
        padding: 30px; 
    }

    .map-heading {
        font-size: 40px; 
    }

    .map-description {
        font-size: 18px; 
    }
}